{% extends "orders/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Pinocchio's
{% endblock %}

{% block body %}
    <h1>Menu</h1>
    <h2>Pizzas</h2>
    <ul>
        {% for pizza in pizzas %}
            <li>
                {{ pizza }}
            </li>
        {% endfor %}
    </ul>
    <h2>Toppings</h2>
    <ul>
        {% for topping in toppings %}
            <li>
                {{ topping }}
            </li>
        {% endfor %}
    </ul>
    <h2>Order</h2>
    <form action="{% url 'order' %}" method="post">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        Hi {{ user.username }}!
        <p>You are currently logged in! Please go ahead and order your pizza!</p>
        {{ form|crispy }}
        <select name="pizza">
            {% for pizza in pizzas %}
            <option value="{{ pizza.id }}">{{ pizza }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Pizza" />
        </select>

      <p><a href="{% url 'logout' %}">logout</a></p>
      {% else %}
      <p>You are currently not logged in! Click <a href="/login">here</a></p>
      {% endif %}
    </form>
{% endblock %}